@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace svg url("http://www.w3.org/2000/svg");

/* ----- TOOLBAR ----- */

marbletoolbar {
  background: -moz-linear-gradient(top, #848484 0%, #4F4F4F 50%, #3C3C3C 50%, #444444 100%);
  background: linear-gradient(to top, #848484 0%, #4F4F4F 50%, #3C3C3C 50%, #444444 100%);
}


marbletoolbar .children-box {
  padding: 3px 2px 3px 2px;
}


/* ----- BUTTON ----- */
marblebutton {
  font-size: 12px;
  color: #F3F3F3;
  margin: 0px 1px 0px 1px;

  border: 1px solid transparent;
  border-bottom: 1px solid #666;
  border-radius: 0px 0px 5px 5px;
}

marblebutton[type="menu"] {
}

marblebutton .marblebutton-box {
  padding: 0px 1px;
  background-color: rgba(255,255,255,0.15);
  border: 1px solid #222;
  border-radius: 4px;
}

marblebutton .marblebutton-label {
  padding: 0px !important;
  margin: 2px !important;
  border: 0px !important;
}

marblebutton:focus .marblebutton-box {
  background-color: rgba(255,255,255,0.25);
}

marblebutton:hover:active .marblebutton-box,
marblebutton[open="true"] .marblebutton-box,
marblebutton[checked="true"] .marblebutton-box {
  background-color: rgba(20,20,20,0.2) !important;
}


/* ----- BUTTON GROUP ----- */
marblebuttongroup {
}

marblebuttongroup > marblebutton {
  margin: 0px 0px 0px 0px;
  border-width: 0px;
  border-bottom: 1px solid #666;
  border-radius: 0px;
}

marblebuttongroup > marblebutton .marblebutton-box {
  padding: 0px 1px;
  background-color: rgba(255,255,255,0.15);
  border: 1px solid #222;
  border-right-width: 0px;
  border-radius: 0px;
}

marblebuttongroup > marblebutton:first-child {
  border-left-width: 1px;
  border-radius: 4px 0px 0px 4px;
}

marblebuttongroup > marblebutton:last-child {
  border-right-width: 1px;
  border-radius: 0px 4px 4px 0px;
}

marblebuttongroup > marblebutton:first-child .marblebutton-box {
  border-radius: 4px 0px 0px 4px;
}

marblebuttongroup > marblebutton:last-child .marblebutton-box {
  border-right-width: 1px;
  border-radius: 0px 4px 4px 0px;
}


/* ----- TEXT BOX ----- */
marbletextbox {
  padding: 2px 2px 2px 5px;
  border: 2px solid #222;
  background-clip: padding-box;
  -moz-border-top-colors: transparent #222;
  -moz-border-right-colors: transparent #222;
  -moz-border-bottom-colors: #666 #222;
  -moz-border-left-colors: transparent #222;
  border-radius: 5px;
  background-color: -moz-Field;
  color: -moz-FieldText;
  font-size: 12px;
}

marbletextbox[empty="true"] {
  color: GrayText;
}

marbletextbox[type="search"] {
}

marbletextbox[type="search"] > .textbox-input-box  .textbox-search-icons > .textbox-search-icon {
  width:11px;
  height:11px;
}

marbletextbox[type="search"] > .textbox-input-box > .textbox-search-icons > .textbox-search-clear {
  list-style-image: url("chrome://chaika/skin/board/search-textbox-cancel.png");
  -moz-image-region: rect(0, 11px, 11px, 0);
}

marbletextbox[type="search"] > .textbox-input-box > .textbox-search-icons > .textbox-search-clear:hover:active {
  -moz-image-region: rect(0, 22px, 11px, 11px);
}
