@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#lblTitle {
  font-size: 12px;
  font-weight: bold;
  color: #F6F6F6;
}

#lblStatus {
 color: #CCC;
}


#searchTextBox {
  margin: 0px 4px;
  width: 9em;
}


#boardTree treechildren::-moz-tree-cell-text,
#boardTree[treesize="small"] treechildren::-moz-tree-cell-text {
  font-size: 12px !important;
}
#boardTree treechildren::-moz-tree-row,
#boardTree[treesize="small"] treechildren::-moz-tree-row {
  height: 18px !important;
}

#boardTree[treesize="medium"] treechildren::-moz-tree-cell-text {
  font-size: 14px !important;
}
#boardTree[treesize="medium"] treechildren::-moz-tree-row {
  height: 20px !important;
}

#boardTree[treesize="big"] treechildren::-moz-tree-cell-text {
  font-size: 16px !important;
}
#boardTree[treesize="big"] treechildren::-moz-tree-row {
  height: 22px !important;
}


#boardTree treechildren::-moz-tree-image(status){
  margin-left: 2px;
  list-style-image: url("chrome://chaika/skin/board/status-icon.png") !important;
}

/*  STATUS_NEW  */
#boardTree treechildren::-moz-tree-image(status, s3){
  -moz-image-region: rect(0px, 12px, 12px, 0px);
}

/*  STATUS_UNREAD  */
#boardTree treechildren::-moz-tree-image(status, s2){
  -moz-image-region: rect(0px, 24px, 12px, 12px);
}

/*  STATUS_SUBSCRIBE  */
#boardTree treechildren::-moz-tree-image(status, s1){
  -moz-image-region: rect(0px, 36px, 12px, 24px);
}

/*  STATUS_NONE  */
#boardTree treechildren::-moz-tree-image(status, s0){
  -moz-image-region: rect(0px, 48px, 12px, 36px);
}

/*  STATUS_DOWN  */
#boardTree treechildren::-moz-tree-image(status, s4){
  -moz-image-region: rect(0px, 60px, 12px, 48px);
}


#boardTreeCol-number,
#boardTreeCol-count,
#boardTreeCol-read,
#boardTreeCol-unread,
#boardTreeCol-force {
  text-align: right;
}

#boardTree .treecol-text {
  text-align: left;
}

#boardTree treechildren::-moz-tree-cell {
  margin-right: 2px;
}
