/* See license.txt for terms of usage */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


/* ---- Header ------------------------------- */

#toolbar{
    font-size: 1.25em;
}

#lblTitle {
    font-weight: bold;
}


/* ---- Text Size ------------------------------ */

#boardTree.tree-text-small treechildren::-moz-tree-row{
    min-height: 24px;
}

#boardTree.tree-text-small treechildren::-moz-tree-cell-text{
    font-size: 12px;
}

#boardTree.tree-text-medium treechildren::-moz-tree-row{
    min-height: 30px;
}

#boardTree.tree-text-medium treechildren::-moz-tree-cell-text{
    font-size: 14px;
}

#boardTree.tree-text-big treechildren::-moz-tree-row{
    min-height: 38px;
}

#boardTree.tree-text-big treechildren::-moz-tree-cell-text{
    font-size: 16px;
}


/* ---- Tree Styling ------------------------------ */

#boardTreeCol-number,
#boardTreeCol-count,
#boardTreeCol-read,
#boardTreeCol-unread,
#boardTreeCol-force {
    text-align: right;
}


/* ---- Highlight (NGEx) --------------------------- */

#boardTree treechildren::-moz-tree-row(highlight-true){
    background-color: #ff9500;  /* Chameleon orange for highlight */
}

#boardTree treechildren::-moz-tree-row(highlight-true, selected){
    background-color: #0095dd;  /* Chameleon blue for selection */
}


/* ---- Status Image ----------------------------- */

#boardTree treechildren::-moz-tree-image(status){
    list-style-image: url("chrome://chaika/skin/board/status-icon.png");
}

/*  STATUS_NEW  */
#boardTree treechildren::-moz-tree-image(status, s3){
    -moz-image-region: rect(0px, 12px, 12px, 0px);
}

/*  STATUS_UNREAD  */
#boardTree treechildren::-moz-tree-image(status, s2){
    -moz-image-region: rect(0px, 24px, 12px, 12px);
}

/*  STATUS_SUBSCRIBE  */
#boardTree treechildren::-moz-tree-image(status, s1){
    -moz-image-region: rect(0px, 36px, 12px, 24px);
}

/*  STATUS_NONE  */
#boardTree treechildren::-moz-tree-image(status, s0){
    -moz-image-region: rect(0px, 48px, 12px, 36px);
}

/*  STATUS_DOWN  */
#boardTree treechildren::-moz-tree-image(status, s4){
    -moz-image-region: rect(0px, 60px, 12px, 48px);
}
