@charset 'utf-8';

/* ***** ***** Animations ***** ***** */
@keyframes fadeout{
    from{
        opacity: 1.0;
    }
    to{
        opacity: 0.0;
    }
}

@keyframes fadein{
    from{
        opacity: 0.0;
    }
    to{
        opacity: 1.0;
    }
}

@keyframes slidedown{
    from{
        line-height: 0;
        margin: 0;
        padding: 0 35px 0 25px;
        opacity: 0;
    }
    to{
        line-height: 1.5;
        margin: 0 0 20px 0;
        padding: 12px 35px 12px 25px;
        opacity: 1.0;
    }
}

@keyframes slideup{
    from{
        line-height: 1.5;
        margin: 0 0 20px 0;
        padding: 12px 35px 12px 25px;
        opacity: 1.0;
    }
    to{
        line-height: 0;
        margin: 0;
        padding: 0 35px 0 25px;
        opacity: 0;
    }
}



html {
    background-color: #F6F6F6;
}

body {
    color: #111;
    margin: 4.5em 0 0 0;
}

h1 {
    position: fixed;
    border-bottom: 1px solid #222;
    top: 0;
    left:0px;
    right:0px;
    line-height: 1;
    margin: 0;
    padding:0.6em 5em 0.6em 0.6em;
    background: #666;
    color: #EEE;
    font-size: 0.9em;
}

#navMenu {
    position: fixed;
    top: 0.4em;
    right: 0.4em;
    font-size: 0.9em;
    cursor: default;
    padding: 0;
    margin: 0;
    list-style-type: none;
    line-height: 1;
}

#navMenu .menuItem {
    font-size: 0.9em;
    font-weight: bold;
    color: #FFF;
    display: block;
    padding: 3px 6px;
    margin: 0;
}

#navMenu ul{
    padding: 0;
    margin: 0;
    background-color: rgba(60, 60, 60, 0.85);
}

#navMenu li{
    padding: 1px;
    margin: 0;
    list-style-type: none;
}

#navMenu > li > ul{
    border: 1px solid #555;
    display: none;
}
#navMenu:hover > li > ul{
    display: block;
}

#navMenu > li {
    text-align: right;
}

#navMenu > li > ul > li > a:link,
#navMenu > li > ul > li > a:visited{
    font-size: 0.9em;
    color: #F6F6F6;
    display: block;
    padding: 4px 8px;
    text-decoration: none;
}

#navMenu > li > ul > li > a:hover{
    background-color: #888;
    color: #FFF;
    opacity: 1;
}

#status {
    margin: 4em 0 15px 0;
    text-align: center;
}

#status span {
    padding: 6px 24px;
    font-size: 0.7em;
    border: 1px solid #BBB;
    border-radius: 6px;
    color: #888;
}


/* ***** ***** レス ***** ***** */

.resContainer {
    margin: 0.5em 15px 0.5em 15px;
}

.resHeader {
    background-color: transparent;
    padding: 2px 4px;
    font-size: 0.8em;
    color: #777;
}

.resBody {
    margin: 0 0 20px 0;
    padding: 12px 35px 12px 25px;
}

.resNumber {
    font-weight: bold;
    color: #111;
}

.resNew .resNumber {
    color: #E63;
}

.resName {
    font-weight: bold;
    font-size: 1.1em;
    color: #369;
}

.resSystem {
    font-weight: normal;
    color: #477;
}

.resMail:before{
    content: "[";
}

.resMail:after{
    content: "]";
}

.resID,
.resMesID {
    text-decoration: underline;
}

.resID:not(:empty):before{
    content: "ID:";
}

.resIP:not(:empty):before{
    content: "\767a\4fe1\5143\3a";
}

.resHost:not(:empty):before{
    content: "HOST:";
}

.resBeID:not(:empty):before{
    content: "Be:";
}

.resID[data-id-posts-all]:not([data-id-posts-all="1"]):after{
    content: " (" attr(data-id-posts-index) "/" attr(data-id-posts-all) ")";
}


/* ***** ***** あぼーん レス ***** ***** */

.collapsed .resHeaderContent,
.collapsed .resBody{
    display: none;
}

.collapsed .resHeaderAboneContent:before {
    content: "ABONE";
    display: inline-block;
    padding-right: 1em;
    font-weight: bold;
    color: #369;
    font-size: 1.1em;
}

.collapsed .resHeaderAboneContent{
    color: #888;
    font-size: 90%;
}


[isAbone="true"]:not(.collapsed) .resHeaderContent{
    display: inline;
}

[isAbone="true"]:not(.collapsed) .resBody{
    display: block;
    margin: 0 0 20px 0;
    padding: 12px 35px 12px 25px;
}

[isAbone="true"]:not(.collapsed) .resHeaderAboneContent{
    display: none;
}


/* ***** ***** ハイライトレス ***** ***** */
.resDateImportant{
    color: red;
}

[isAbone="false"] .resHeaderAboneContent:not(:empty):before{
    content: "(";
}

[isAbone="false"] .resHeaderAboneContent:not(:empty):after{
    content: ")";
}

[isAbone="false"] .resHeaderAboneContent{
    color: #888;
    font-size: 90%;
}


/* ***** ***** ポップアップ ***** ***** */
.popup {
    font-size: 0.8em;
    padding: 8px;
    border-radius: 8px;
    box-shadow: #333 0 0 12px;
    background-color: rgba(60, 60, 60, 0.85);
    position: absolute;
}

.popupInner {
    min-width: 18em;
    min-height: 3em;
    max-height: 25em;
    max-width: 55em;
    overflow: auto;
}

.popup *{
    color: #EEE;
}


/* レスポップアップ */
.popupInner > .resContainer {
    margin: 1px;
}

.popupInner > .aaRes{
    white-space: pre !important;
}


/* 画像ポップアップ */
.imagePopup {
    min-width: 100px;
    min-height: 0;
    max-height: none;
    max-width: none;
}

.small {
    width: 200px;
}

.error > img {
    display: none;
}

.error:after{
    content: "Load Error";
}
