@charset 'utf-8';

/* ***** ***** Animations ***** ***** */
@keyframes fadeout{
    from{
        opacity: 1.0;
    }
    to{
        opacity: 0.0;
    }
}

@keyframes fadein{
    from{
        opacity: 0.0;
    }
    to{
        opacity: 1.0;
    }
}

@keyframes slidedown{
    from{
        line-height: 0;
        margin: 0;
        padding: 0 35px 0 25px;
        opacity: 0;
    }
    to{
        line-height: 1.5;
        margin: 0 0 20px 0;
        padding: 12px 35px 12px 25px;
        opacity: 1.0;
    }
}

@keyframes slideup{
    from{
        line-height: 1.5;
        margin: 0 0 20px 0;
        padding: 12px 35px 12px 25px;
        opacity: 1.0;
    }
    to{
        line-height: 0;
        margin: 0;
        padding: 0 35px 0 25px;
        opacity: 0;
    }
}



html {
    background-color: #F6F6F6;
}

body {
    color: #111;
    margin: 4.5em 0 0 0;
}

h1 {
    position: fixed;
    border-bottom: 1px solid #222;
    top: 0;
    left:0px;
    right:0px;
    line-height: 1;
    margin: 0;
    padding:0.6em 5em 0.6em 0.6em;
    background: #666;
    color: #EEE;
    font-size: 0.9em;
}

#navMenu {
    position: fixed;
    top: 0.4em;
    right: 0.4em;
    font-size: 0.9em;
    cursor: default;
    padding: 0;
    margin: 0;
    list-style-type: none;
    line-height: 1;
}

#navMenu .menuItem {
    font-size: 0.9em;
    font-weight: bold;
    color: #FFF;
    display: block;
    padding: 3px 6px;
    margin: 0;
}

#navMenu ul{
    padding: 0;
    margin: 0;
    background-color: rgba(60, 60, 60, 0.85);
}

#navMenu li{
    padding: 1px;
    margin: 0;
    list-style-type: none;
}

#navMenu > li > ul{
    border: 1px solid #555;
    display: none;
}
#navMenu:hover > li > ul{
    display: block;
}

#navMenu > li {
    text-align: right;
}

#navMenu > li > ul > li > a:link,
#navMenu > li > ul > li > a:visited{
    font-size: 0.9em;
    color: #F6F6F6;
    display: block;
    padding: 4px 8px;
    text-decoration: none;
}

#navMenu > li > ul > li > a:hover{
    background-color: #888;
    color: #FFF;
    opacity: 1;
}

#status {
    margin: 4em 0 15px 0;
    text-align: center;
}

#status span {
    padding: 6px 24px;
    font-size: 0.7em;
    border: 1px solid #BBB;
    border-radius: 6px;
    color: #888;
}


/* ***** ***** レス ***** ***** */

dl.resContainer {
    margin: 0.5em 15px 0.5em 15px;
}

dt.resHeader {
    background-color: transparent;
    padding: 2px 4px;
    font-size: 0.8em;
    color: #777;
}

dd.resBody {
    margin: 0 0 20px 0;
    padding: 12px 35px 12px 25px;
}

span.resNumber {
    font-weight: bold;
    color: #111;
}

dl.resNew span.resNumber {
    color: #E63;
}

span.resName {
    font-weight: bold;
    font-size: 1.1em;
    color: #369;
}

span.resSystem {
    font-weight: normal;
    color: #477;
}

span.resID,
span.resMesID {
    text-decoration: underline;
}

/* ***** ***** あぼーん レス ***** ***** */

dl[isAbone="true"] dd.resBody {
    line-height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
}

dl[isAbone="true"][collapsed="false"] dd.resBody{
    line-height: 1.5;
    margin: 0 0 20px 0;
    padding: 12px 35px 12px 25px;
    opacity: 1.0;
}

dl[isAbone="true"] span.resHeaderContent {
    display: none;
}

dl[isAbone="true"] dd.resBody * {
    color: #888;
}

dl[isAbone="true"] span.resHeaderAboneContent:after {
    content: "ABONE";
    font-weight: bold;
    color: #369;
    font-size: 1.1em;
}


/* ***** ***** ポップアップ ***** ***** */
div.popup {
    font-size: 0.8em;
    padding: 8px;
    border-radius: 8px;
    box-shadow: #333 0 0 12px;
    background-color: rgba(60, 60, 60, 0.85);
    position: absolute;
}

div.popupInner {
    min-width: 18em;
    min-height: 3em;
    max-height: 25em;
    max-width: 55em;
    overflow: auto;
}

div.popup dl.resContainer {
    margin: 1px;
}


div.popup *,
div.popup span.resHeaderAboneContent:after {
    color: #EEE;
}


img.small {
    width: 200px;
}


div.loadError:after {
    content: "Load Error";
}


div.imagePopup {
    min-width: 100px;
    min-height: 0;
    max-height: none;
    max-width: none;
}

.popup .aaRes{
    white-space: pre !important;
}
