@charset 'utf-8';

/* See license.txt for terms of usage */

/* ***** ***** Animations ***** ***** */

@keyframes fadeout{
    from{
        opacity: 1.0;
    }
    to{
        opacity: 0.0;
    }
}

@keyframes fadein{
    from{
        opacity: 0.0;
    }
    to{
        opacity: 1.0;
    }
}

@keyframes slidedown{
    from{
        line-height: 0;
        margin: 0;
        padding: 0 35px 0 25px;
        opacity: 0;
    }
    to{
        line-height: 1.5;
        margin: 0 0 20px 0;
        padding: 12px 35px 12px 25px;
        opacity: 1.0;
    }
}

@keyframes slideup{
    from{
        line-height: 1.5;
        margin: 0 0 20px 0;
        padding: 12px 35px 12px 25px;
        opacity: 1.0;
    }
    to{
        line-height: 0;
        margin: 0;
        padding: 0 35px 0 25px;
        opacity: 0;
    }
}


/* ***** ***** Colors ***** ***** */

:root{
    /* Chameleon Style Colors from chrome://global/skin/in-content/common.css */
    --in-content-page-color: #424e5a;
    --in-content-page-background: #fbfbfb;
    --in-content-text-color: #333;
    --in-content-border-highlight: #ff9500;
    --in-content-border-focus: #0095dd;
    --in-content-border-color: #c1c1c1;

    /* chaika colors */
    --chaika-inverted-color: #fff;
    --chaika-inverted-background: rgba(60, 60, 60, 0.8);
    --chaika-inverted-item-hover: rgba(60, 60, 60, 1.0);
    --chaika-highlight-color: #ff9500;
    --chaika-warning-color: #d74345;  /* https://people.mozilla.org/~jgruen/chameleon/old/#nav5 */
    --chaika-post-name-color: #369;
}


/* ***** ***** General ***** ***** */

html {
    color: var(--in-content-page-color);
    background-color: var(--in-content-page-background);
    line-height: 1.5;
}

body {
    margin: 4.5em 0 0 0;
}


/* ***** ***** メニュー ***** ***** */

.menu{
    margin: 0;
    padding: 0;
    cursor: default;
    line-height: 1.0;
    font-weight: normal;
    color: var(--chaika-inverted-color);
    background-color: var(--chaika-inverted-background);
    list-style-type: none;
}

.menu > li{
    display: block;
    margin: 0;
    padding: 1px;
    color: var(--chaika-inverted-color);
    list-style-type: none;
}

.menu > li > a{
    display: block;
    padding: 4px 8px;
    color: var(--chaika-inverted-color);
    font-size: 0.9em;
    text-decoration: none;
}

.menu > li > a:hover{
    background-color: var(--chaika-inverted-item-hover);
}


/* ***** ***** ヘッダー ***** ***** */

header{
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0.6em;
    width: 100%;
    color: var(--chaika-inverted-color);
    background-color: var(--chaika-inverted-background);
    font-size: 0.9em;
    line-height: 1.0;
}

header::after{
    content: '';
    clear: both;
}

/* スレッドタイトル */

header > h1{
    box-sizing: border-box;
    float: left;
    margin: 0;
    padding: 0;
    padding-right: 4.5em;
    font-size: 100%;
}

#thread-info{
    display: inline-block;
    margin-left: 1em;
    font-size: 80%;
    font-weight: normal;
}

#thread-info[data-populated="false"]{
    display: none;
}


/* ナビゲーション */

nav {
    text-align: right;
    position: fixed;
    right: 0;
    padding-right: 0.5em;
}

nav > ul{
    padding: 0;
    margin: 0;
    cursor: default;
    list-style-type: none;
}

nav li{
    display: block;
    margin: 0;
    list-style-type: none;
}

nav > ul > li{
    font-weight: bold;
}

nav > ul > li > ul{
    display: none;
}

nav > ul:hover > li > ul{
    display: block;
}


/* ***** ***** フッター ***** ***** */

#status {
    display: inline-block;
    margin: 15px 0;
    margin-left: 50%;
    transform: translate(-50%);
    padding: 3px 18px;
    border: 1px solid var(--in-content-border-color);
    border-radius: 6px;
    text-align: center;
    font-size: 0.7em;
}

:-moz-any(
    footer[data-status^="\0028\00B4\30FB\03C9\30FB\0060\0029"], /* (´・ω・`) */
    footer[data-status="\0028\0020\FF70\03C9\FF70\0029\300C\0044\0041\0054\0020\843D\3061\300D"] /* ( ｰωｰ)「DAT 落ち」 */
) > #status{
    border: 2px solid var(--chaika-warning-color);
    color: var(--chaika-warning-color);
    font-weight: bold;
}


/* ***** ***** レス ***** ***** */

.resContainer {
    margin-bottom: 2em;
    margin-left: 15px;
    padding-left: 5px;
    border-left: 5px solid transparent;
}

.resHeader {
    font-size: 0.8em;
    font-weight: normal;
}

.resNumber {
    font-weight: bold;
    color: var(--in-content-text-color);
    cursor: pointer;
}

.resNew .resNumber {
    color: var(--chaika-highlight-color);
}

.resNumber[data-referred]::after{
    content: "(" attr(data-referred-num) ")";
    font-weight: normal;
    font-size: 90%;
}

.resName {
    font-weight: bold;
    font-size: 1.1em;
    color: var(--chaika-post-name-color);
}

/**
 * Name-text generated by BBS System
 * e.g.) http://ex14.vip2ch.com/test/read.cgi/part4vip/1431931779/30
 */
.resSystem {
    font-weight: normal;
}

.resMail::before{
    content: "[";
}

.resMail::after{
    content: "]";
}

.resID,
.resMesID,
.resIP,
.resHost,
.resBeID {
    text-decoration: underline;
}

.resID:not(:empty)::before{
    content: "ID:";
}

.resIP:not(:empty)::before{
    content: "\767a\4fe1\5143\3a";
}

.resHost:not(:empty)::before{
    content: "HOST:";
}

.resBeID:not(:empty)::before{
    content: "Be:";
}

.resHeaderContent[data-id-posts-all]:not([data-id-posts-all="1"])::after{
    content: " (" attr(data-id-posts-index) "/" attr(data-id-posts-all) ")";
}

.resBody {
    padding-top: 0.6em;
    padding-left: 25px;
    color: var(--in-content-text-color);
}


/* ***** ***** あぼーん レス ***** ***** */

/** 折りたたみ時 **/

.collapsed .resHeaderContent,
.collapsed .resBody{
    display: none;
}

.collapsed .resHeader::after {
    content: "ABONE (" attr(data-ngtitle) ")";
    display: inline-block;
    padding-right: 1em;
    font-weight: bold;
    color: #369;
    font-size: 93%;
}



/** 展開時 **/

[data-aboned="true"]:not(.collapsed) .resHeaderContent{
    display: inline;
}

[data-aboned="true"]:not(.collapsed) .resBody{
    display: block;
    margin: 0 0 20px 0;
    padding: 12px 35px 12px 25px;
}

[data-aboned="true"]:not(.collapsed) .resHeader::after{
    content: "";
}


/* ***** ***** ハイライトレス ***** ***** */

.highlighted{
    border-left: 5px solid var(--in-content-border-highlight);
}


/* *** NGEx *** */

[data-aboned="false"] .resHeader:not([data-ngtitle=""])::after{
    content: " (" attr(data-ngtitle) ")";
    display: inline-block;
    padding-right: 1em;
    font-weight: bold;
    color: #369;
    font-size: 95%;
}


/* *** 自分の書き込み・自分への返信 *** */

.highlighted.reply-to-me{
    border-color: var(--in-content-border-focus);
}

.reply-to-me .resName::before{
    content: '\8FD4\4FE1\003A\0020';  /* "返信: " */
    color: var(--in-content-text-color);
}

/**
 * 「自分」の表示を「返信」に優先させるため,
 * より下にルールを記述する.
 */
.highlighted.my-post{
    border-color: var(--in-content-border-color);
}

.my-post .resName::before{
    content: '\81EA\5206\003A\0020';  /* "自分: " */
    color: var(--in-content-text-color);
}


/* ***** ***** ポップアップ ***** ***** */

.popup {
    position: absolute;
    padding: 5px;
    border-radius: 8px;
    box-shadow: #333 0 0 12px;
    font-size: 0.8em;
    background-color: var(--chaika-inverted-background);
}

.popupInner {
    min-width: 18em;
    min-height: 3em;
    max-height: 25em;
    max-width: 55em;
    overflow: auto;
}

.popup *,
.popup .resHeaderAboneContent::before{
    color: var(--chaika-inverted-color) !important;
    background-color: initial !important;
}


/* レスポップアップ */

.popupInner > .resContainer {
    padding-left: 2.5em;
    padding-right: 1em;
}

.popupInner .resBody{
    padding-bottom: 5px;
}

.popupInner > .aaRes{
    white-space: pre !important;
}


/* 画像ポップアップ */

.ImagePopup {
    min-width: 100px;
    min-height: 0;
    max-height: none;
    max-width: none;
}

.small {
    width: 200px;
}

.error > img {
    display: none;
}

.error::after{
    content: "Load Error";
}


/* ***** ***** レスメニュー ***** ***** */

#resPopupMenu{
    display: none;
    font-size: 0.9em;
    z-index: 999;
}


/* ***** ***** 設定画面 ***** ***** */

#settings{
    display: none;
    position: fixed;
    top: 1em;
    bottom: 5%;
    right: 1em;
    width: 50%;
    overflow: auto;
}

#settings:target{
    display: block;
}

#settings-body{
    position: absolute;
    top: 1em;
    left: 0;
    right: 0;
    bottom: 4.5em;
    overflow: auto;
    line-height: 1.8;
    border-bottom: 1px solid var(--chaika-inverted-color);
    padding: 0 0.5em;
}

#settings-footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.5em;
}

#settings-footer-buttons{
    position: absolute;
    right: 0.5em;
    bottom: 0;
}

label{
    display: block;
}

.inline-form label{
    display: inline-block;
}

fieldset{
    margin-bottom: 1em;
}

fieldset > fieldset{
    border: none;
    margin: 0.5em 0;
    padding: 0;
}

#settings input,
#settings select,
#settings button{
    font-size: 100%;
    color: var(--chaika-inverted-color);
    border: 1px solid var(--chaika-inverted-color);
}

input[type="number"]{
    text-align: right;
    width: 4em;
}

select{
    width: 40%;
}

.desc{
    font-size: 90%;
    margin: 0.5em 0 0 1.5em;
    padding: 0;
}

ul.desc{
    list-style-type: square;
}
