@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ----- TOOLBAR ----- */
marbletoolbar {
  -moz-binding:url("chrome://chaika/content/board/marble.xml#toolbar");
}


/* ----- BUTTON ----- */
marblebutton {
  -moz-user-focus: normal;
  -moz-binding:url("chrome://chaika/content/board/marble.xml#button");
}

marblebutton[type="menu"] {
  -moz-binding:url("chrome://chaika/content/board/marble.xml#menu-button");
}


/* ----- BUTTON GROUP ----- */
marblebuttongroup {
  -moz-binding:url("chrome://chaika/content/board/marble.xml#buttongroup");
}


/* ----- TEXT BOX ----- */
marbletextbox {
  -moz-binding:url("chrome://chaika/content/board/marble.xml#textbox");
  -moz-user-select: text;
}

marbletextbox[type="search"] {
  -moz-binding:url("chrome://chaika/content/board/marble.xml#search-textbox");
}
