/* See license.txt for terms of usage */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

prefpane {
  padding-top: 1.5em;
  padding-bottom: 0.5em;
}

radio[pane]{
  list-style-image: none !important;
  -moz-image-region: rect(0px, 0px,  0px, 0px) !important;
  padding: 8px 2px 2px 8px !important;
}

.paneButtonIcon {
  display: none;
}

row.setting-row {
  margin-bottom: 1em;
}

description.setting-description {
  margin: 2px;
  padding: 0px 4px 0px 0px;
  font-size: 0.9em;
  text-align: right;
}
