@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#boxHeader {
  border-bottom: 1px solid ThreeDShadow;
  background-color: #FFF;
  padding:10px 10px 5px 10px;
}

#lblTitle {
  font-size: medium;
  font-weight: bold;
  color: #222;
}

#lblSubTitle {
  font-size: medium;
  font-weight: bold;
  color: #69C;
}

#lblStatus {
 color: #777;
 padding-left: 2em;
}

.text-link {
  margin: 1px;
  color: #E30;
  text-decoration: none;
}
.text-link:hover {
  text-decoration: underline;
}

.menu-separator {
  margin: 1px;
  color: #BBB;
}

#toolbar {
  padding: 1px 5px 1px 1px;
}

#filterGroup {
  margin: 0px 2px;
}

#filterGroup .toolbar-group-inner-box {
  border: 1px solid #C2C2C2;
  border-color: transparent transparent #C2C2C2 transparent;
  -moz-border-radius: 0px 0px 5px 5px;
}


#filterGroup toolbarbutton {
  border-style: none !important;
  outline: 1px solid #404040;
  outline-offset: -1px;
  padding: 2px 3px !important;
  margin: 0px -1px 0px 0px !important;
  background: url("chrome://chaika/skin/board/toolbarbutton-gradient.png") repeat-x center center;
}

#filterGroup toolbarbutton[checked="true"] {
  background-image: url("chrome://chaika/skin/board/toolbarbutton-gradient-active.png");
  color: #FFF !important;
}

#filterGroup toolbarbutton:first-child {
  -moz-border-radius: 4px 0px 0px 4px;
  -moz-outline-radius: 4px 0px 0px 4px;
}

#filterGroup toolbarbutton:last-child {
  -moz-border-radius: 0px 4px 4px 0px;
  -moz-outline-radius: 0px 4px 4px 0px;
}

#filterGroup .toolbarbutton-icon {
  display: none;
}

#filterGroup .toolbarbutton-text {
  padding: 0 !important;
  margin: 1px 3px !important;
}

#searchTextBox {
  width: 11em;
}




#boardTree treechildren::-moz-tree-image(status){
  margin-left: 2px;
  list-style-image: url("chrome://chaika/skin/board/status-icon.png") !important;
}

/*  STATUS_NEW  */
#boardTree treechildren::-moz-tree-image(status, s3){
  -moz-image-region: rect(0px, 12px, 12px, 0px);
}

/*  STATUS_UNREAD  */
#boardTree treechildren::-moz-tree-image(status, s2){
  -moz-image-region: rect(0px, 24px, 12px, 12px);
}

/*  STATUS_SUBSCRIBE  */
#boardTree treechildren::-moz-tree-image(status, s1){
  -moz-image-region: rect(0px, 36px, 12px, 24px);
}

/*  STATUS_NONE  */
#boardTree treechildren::-moz-tree-image(status, s0){
  -moz-image-region: rect(0px, 48px, 12px, 36px);
}

/*  STATUS_DOWN  */
#boardTree treechildren::-moz-tree-image(status, s4){
  -moz-image-region: rect(0px, 60px, 12px, 48px);
}


#boardTreeCol-number,
#boardTreeCol-count,
#boardTreeCol-read,
#boardTreeCol-unread,
#boardTreeCol-force {
  text-align: right;
}

#boardTree .treecol-text {
  text-align: left;
}

#boardTree treechildren::-moz-tree-cell {
  margin-right: 2px;
}
