@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#search-box {
  height: 1.6em;
  background-image: none;
}


#mainMenubar {
  -moz-appearance:none;
  padding: 1px 2px 1px 1px;
  border-style: none;
  margin: 0px;
}

#mainMenubar > menu {
  padding: 0px !important;
  list-style-image: url("chrome://chaika/skin/bbsmenu-toolbar.png") !important;
}

#mainMenubar > menu .menubar-left {
  margin: 1px 4px !important;
}

#mainMenubar > menu .menubar-text {
  display: none;
}

#toolMenu {
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

#historyMenu {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}


#treeBbsMenu[stripe="true"] treechildren:-moz-tree-row(odd){
  background-image: url("chrome://chaika/skin/tree-row-odd.png");
}

/* 2ch */
#treeBbsMenu treechildren::-moz-tree-image(type-0) {
  margin: 0px 2px;
  list-style-image: url("chrome://chaika/skin/type-2ch.gif") !important;
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

/* Be 2ch */
#treeBbsMenu treechildren::-moz-tree-image(type-2) {
  margin: 0px 2px;
  list-style-image: url("chrome://chaika/skin/type-be2ch.gif") !important;
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

/* JBBS */
#treeBbsMenu treechildren::-moz-tree-image(type-3) {
  margin: 0px 2px;
  list-style-image: url("chrome://chaika/skin/type-jbbs.gif") !important;
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}


/* Machi BBS */
#treeBbsMenu treechildren::-moz-tree-image(type-4) {
  margin: 0px 2px;
  list-style-image: url("chrome://chaika/skin/type-machi.gif") !important;
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}


/* ***** find2ch ***** */

.searchingPage {
  -moz-appearance: listbox;
  margin: 0px;
  background-color: -moz-Field;
  color: -moz-FieldText;
}

.searcingImage {
  list-style-image:url("chrome://chaika/skin/loading.gif");
}