@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#boxHeader {
  border-bottom: 1px solid ThreeDShadow;
  background-color: #FFF;
  padding:10px 10px 5px 10px;
}

#lblTitle {
  font-size: medium;
  font-weight: bold;
  color: #222;
}

#lblSubTitle {
  font-size: medium;
  font-weight: bold;
  color: #69C;
}

#lblStatus {
 color: #777;
 padding-left: 2em;
}

.text-link {
  margin: 1px;
  color: #E30;
  text-decoration: none;
}
.text-link:hover {
  text-decoration: underline;
}

.menu-separator {
  margin: 1px;
  color: #BBB;
}

#toolbar {
  padding: 1px 5px 1px 1px;
}

#toolbar toolbarbutton {
  padding: 1px 2px !important;
  margin: 0px 1px !important;
}

#toolbar .toolbarbutton-icon {
  display: none;
}

#toolbar .toolbarbutton-text {
  padding: 0 !important;
  margin: 1px 3px !important;
}

#searchTextBox {
  padding: 2px;
  width: 12em;
}

#boardTree[stripe="true"] treechildren:-moz-tree-row(odd){
  background-image: url("chrome://chaika/skin/tree-row-odd.png");
}

#boardTree treechildren::-moz-tree-image(icon){
  margin-left: 2px;
  list-style-image: url("chrome://chaika/skin/board-status.gif") !important;
}

/*  STATUS_NEW  */
#boardTree treechildren::-moz-tree-image(icon, s3){
  -moz-image-region: rect(0px, 12px, 12px, 0px);
}

/*  STATUS_UNREAD  */
#boardTree treechildren::-moz-tree-image(icon, s2){
  -moz-image-region: rect(0px, 24px, 12px, 12px);
}

/*  STATUS_SUBSCRIBE  */
#boardTree treechildren::-moz-tree-image(icon, s1){
  -moz-image-region: rect(0px, 36px, 12px, 24px);
}

/*  STATUS_NONE  */
#boardTree treechildren::-moz-tree-image(icon, s0){
  -moz-image-region: rect(0px, 48px, 12px, 36px);
}

/*  STATUS_DOWN  */
#boardTree treechildren::-moz-tree-image(icon, s4){
  -moz-image-region: rect(0px, 60px, 12px, 48px);
}


#boardTreeCol-number,
#boardTreeCol-count,
#boardTreeCol-read,
#boardTreeCol-unread,
#boardTreeCol-force {
  text-align: right;
}

#boardTree .treecol-text {
  text-align: left;
}

#boardTree treechildren::-moz-tree-cell {
  margin-right: 4px;
}