@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#bbs2chreader-button {
  list-style-image: url("chrome://chaika/skin/toolbar.png") !important;
  -moz-image-region: rect(0px, 24px, 24px, 0px);
}
#bbs2chreader-button:not([disabled="true"]):hover,
#bbs2chreader-button[buttonover="true"] {
  -moz-image-region: rect(24px 24px 48px 0px);
}
#bbs2chreader-button[disabled="true"] {
  -moz-image-region: rect(48px 24px 72px 0px);
}
#bbs2chreader-button:not([disabled="true"]):hover:active {
  -moz-image-region: rect(72px 24px 96px 0px);
}

toolbar[iconsize="small"] #bbs2chreader-button {
  list-style-image: url("chrome://chaika/skin/type-2ch.gif") !important;
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

toolbar[iconsize="small"] #bbs2chreader-button:not([disabled="true"]):hover,
toolbar[iconsize="small"] #bbs2chreader-button[buttonover="true"],
toolbar[iconsize="small"] #bbs2chreader-button[disabled="true"],
toolbar[iconsize="small"] #bbs2chreader-button:not([disabled="true"]):hover:active {
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}