@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#treeSubscribe[stripe="true"] treechildren:-moz-tree-row(odd){
  background-image: url("chrome://chaika/skin/tree-row-odd.png");
}

#treeSubscribe treechildren::-moz-tree-image(Name, Updating){
  list-style-image: url("chrome://chaika/skin/loading.gif") !important;
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

treechildren::-moz-tree-image(Name, container) {
  list-style-image: url("chrome://chaika/skin/subscribe-item.png") !important;
  -moz-image-region: rect(16px, 16px, 32px, 0px);
}
treechildren::-moz-tree-image(Name, container, open) {
  -moz-image-region: rect(32px, 16px, 48px, 0px);
}
treechildren::-moz-tree-image(Name, container, Updated) {
  list-style-image: url("chrome://chaika/skin/subscribe-item.png") !important;
  -moz-image-region: rect(16px, 32px, 32px, 16px);
}
treechildren::-moz-tree-image(Name, container, open, Updated) {
  -moz-image-region: rect(32px, 32px, 48px, 16px);
}

#treeSubscribe treechildren::-moz-tree-image(Name, Error) {
  list-style-image: url("chrome://chaika/skin/loading.gif") !important;
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

#treeSubscribe treechildren::-moz-tree-image(Name, noUpdateItem) {
  list-style-image: url("chrome://chaika/skin/subscribe-item.png") !important;
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

#treeSubscribe treechildren::-moz-tree-image(Name, updateItem) {
  list-style-image: url("chrome://chaika/skin/subscribe-item.png") !important;
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}

#treeSubscribe treechildren::-moz-tree-cell-text(noUpdateItem) {
  color: gray;
}




#treeSubscribe[compact="true"] treechildren::-moz-tree-twisty {
  -moz-appearance: none !important;
  padding-right: 0px !important;
  padding-top  : 0px !important;
  width: 0px !important;
  list-style-image: none !important;
}

#treeSubscribe[compact="true"] treechildren::-moz-tree-image(Name, noUpdateItem),
#treeSubscribe[compact="true"] treechildren::-moz-tree-image(Name, updateItem){
  list-style-image: none;
  width: 0px !important;
  height: 0px !important;
  margin: 0px 0px;
}

