/* See license.txt for terms of usage */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


/* ---- Search Box ------------------------- */

#searchBox dropmarker {
    -moz-appearance: none;
    border-style: none;
    background-color: transparent;
    cursor: default;
}


/* ---- Toolbar ----------------------------- */

#mainMenubar {
    -moz-appearance: none;
    border-style: none;
    margin: 0;
    padding: 1px 2px 1px 1px;
}

#mainMenubar > menu {
    margin: 1px;
    padding: 1px;
    list-style-image: url("chrome://chaika/skin/bbsmenu/toolbar-icon.png");
}

#mainMenubar > menu .menubar-left {
    margin: 0;
}

#mainMenubar > menu .menubar-text {
    display: none;
}

#toolsMenu {
    -moz-image-region: rect(0px, 16px, 16px, 0px);
}

#historyMenu {
    -moz-image-region: rect(0px, 32px, 16px, 16px);
}


/* ---- Tree ----------------------------- */

#bbsmenuTree.tree-text-small treechildren::-moz-tree-row{
    min-height: 16px;
}

#bbsmenuTree.tree-text-small treechildren::-moz-tree-cell-text{
    font-size: 12px;
}

#bbsmenuTree.tree-text-medium treechildren::-moz-tree-row{
    min-height: 20px;
}

#bbsmenuTree.tree-text-medium treechildren::-moz-tree-cell-text{
    font-size: 14px;
}

#bbsmenuTree.tree-text-big treechildren::-moz-tree-row{
    min-height: 24px;
}

#bbsmenuTree.tree-text-big treechildren::-moz-tree-cell-text{
    font-size: 16px;
}
