/* See license.txt for terms of usage */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


#mainMenubar {
    -moz-appearance: none;
    padding: 1px 2px 1px 1px;
    border-style: none;
    margin: 0px;
}

#mainMenubar > menu {
    padding: 1px !important;
    margin: 1px !important;
    list-style-image: url("chrome://chaika/skin/bbsmenu/toolbar-icon.png") !important;
}

#mainMenubar > menu .menubar-left {
    margin: 0px !important;
}

#mainMenubar > menu .menubar-text {
    display: none;
}

#toolsMenu {
    -moz-image-region: rect(0px, 16px, 16px, 0px);
}

#historyMenu {
    -moz-image-region: rect(0px, 32px, 16px, 16px);
}



#searchBox dropmarker {
    -moz-appearance: none;
    border-style: none;
    background-color: transparent;
    cursor: default;
}


#bbsmenuTree treechildren::-moz-tree-cell-text,
#bbsmenuTree treechildren::-moz-tree-row,
#bbsmenuTree[treesize="small"] treechildren::-moz-tree-cell-text,
#bbsmenuTree[treesize="small"] treechildren::-moz-tree-row {
    height: 1.6em !important;
    font-size: 12px !important;
}

#bbsmenuTree[treesize="medium"] treechildren::-moz-tree-cell-text,
#bbsmenuTree[treesize="medium"] treechildren::-moz-tree-row {
    font-size: 14px !important;
}

#bbsmenuTree[treesize="big"] treechildren::-moz-tree-cell-text,
#bbsmenuTree[treesize="big"] treechildren::-moz-tree-row {
    font-size: 16px !important;
}
