html {
  background-color: #F6F6F6;
}

body {
  color: #111;
  margin: 4.5em 0px 0px 0px;
}

h1 {
  position: fixed;
  border-bottom: 1px solid #222;
  top: 0px;
  left:0px;
  right:0px;
  line-height: 1;
  margin: 0px;
  padding:0.6em 5em 0.6em 0.6em;
  background: #666;
  color: #EEE;
  font-size: 0.9em;
}

#navMenu {
  position: fixed;
  top: 0.4em;
  right: 0.4em;
  font-size: 0.9em;
  cursor: default;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  line-height: 1;
}

#navMenu .menuItem {
  font-size: 0.9em;
  font-weight: bold;
  color: #FFF;
  display: block;
  padding: 3px 6px;
  margin: 0px;
}

#navMenu ul{
  padding: 0px;
  margin: 0px;
  background-color: rgba(60, 60, 60, 0.85);
}

#navMenu li{
  padding: 1px;
  margin: 0px;
  list-style-type: none;
}

#navMenu > li > ul{
  border: 1px solid #555;
  display: none;
}
#navMenu:hover > li > ul{
  display: block;
}

#navMenu > li {
  text-align: right;
}

#navMenu > li > ul > li > a:link,
#navMenu > li > ul > li > a:visited{
  font-size: 0.9em;
  color: #F6F6F6;
  display: block;
  padding: 4px 8px;
  text-decoration: none;
}

#navMenu > li > ul > li > a:hover{
  background-color: #888;
  color: #FFF;
  opacity: 1;
}

#status {
  margin: 4em 0px 15px 0px;
  text-align: center;
}

#status span {
  padding: 6px 24px;
  font-size: 0.7em;
  border: 1px solid #BBB;
  -moz-border-radius: 6px;
  color: #888;
}


/* ***** ***** レス ***** ***** */

dl.resContainer {
  margin: 0.5em 15px 0.5em 15px;
}

dt.resHeader {
  background-color: transparent;
  padding: 2px 4px;
  font-size: 0.8em;
  color: #777;
}

dd.resBody {
  margin: 0px 0px 20px 0px;
  padding: 12px 35px 12px 25px;
}

span.resNumber {
  font-weight: bold;
  color: #111;
}

dl.resNew span.resNumber {
  color: #E63;
}

span.resName {
  font-weight: bold;
  font-size: 1.1em;
  color: #369;
}

span.resSystem {
  font-weight: normal;
  color: #477;
}

span.resID,
span.resMesID {
  text-decoration: underline;
}

/* ***** ***** あぼーん レス ***** ***** */

dl[isAbone="true"] dd.resBody {
  display: none;
  color: #999;
}

dl[isAbone="true"] span.resHeaderContent {
  display: none;
}

dl[isAbone="true"] dd.resBody * {
  color: #888;
}

dl[isAbone="true"] span.resHeaderAboneContent:after {
  content: "ABONE";
  font-weight: bold;
  color: #369;
  font-size: 1.1em;
}


/* ***** ***** ポップアップ ***** ***** */
div.popup {
  font-size: 0.8em;
  padding: 8px;
  -moz-border-radius: 8px;
  -moz-box-shadow: #333 0px 0px 12px;
  background-color: rgba(60, 60, 60, 0.85);
  position: absolute;
}

div.popupInner {
  min-width: 18em;
  min-height: 3em;
  max-height: 25em;
  max-width: 55em;
  overflow: auto;
}

div.popup dl.resContainer {
  margin: 1px;
}


div.popup *,
div.popup span.resHeaderAboneContent:after {
  color: #EEE;
}


img.small {
  width: 200px;
}


div.loadError:after {
  content: "Load Error";
}


div.imagePopup {
  min-width:  100px;
  min-height: 0px;
  max-height: none;
  max-width: none;
}